<!doctype html>
<html data-framework="vue">
<head>
	<meta charset="utf-8">
	<title>Google spreadsheet to json</title>
	<style> [v-cloak] { display: none; } </style>
</head>
<body>
<section class="app">
	<header class="header">
		<h1>Google spreadsheet to json</h1>
		<input class="new-sp"
			   autofocus autocomplete="off"
			   placeholder="Add spreadsheet id"
			   v-model="newSpreadsheetId"
			   @keyup.enter="addSpreadsheetId">
	</header>
	<section class="main" v-show="ids.length" v-cloak>
		<ul class="todo-list">
			<li class="todo"
				v-for="sp in ids"
			>
				<div class="view">
					<label @dblclick="editTodo(todo)">{{sp.id}}</label>
					<button class="destroy" @click="remove(sp)"></button>
				</div>
			</li>
		</ul>
	</section>
	<button @click="fetchSpreadsheets" v-show="ids.length"></button>
</section>
<script src="app.bundle.js"></script>
</body>
</html>